<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DraftStone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Piedra|Playfair+Display|Poppins|Raleway|Titillium+Web|Trade+Winds" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/spacing.css">
  <style>
      #<%= tab %>, #<%= subtab %> {
         background-color: green;
         color: white;
      }
    </style>
</head>

<body>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<%- include partials/header.ejs %>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <main id="main" class="flex mode-main mt-50">

    <!-- ~~ CONTAINER ~~ -->

    <div id="modes-container" class="container mode-main flex-col mt-50" style="align-content: center;">

      <!-- ~~ MODE TABS ~~ -->

      <div class="row">
        <div class="col-md-12">
          <div class="btn-group btn-group-justified mode-options" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <a href="/modes/basic">
                <button id="basic" type="button" class="btn btn-default mode-option-btn" style="border-radius: 6px 0px 0px 6px;">Basic Game Modes</button>
              </a>
            </div>
            <div class="btn-group" role="group">
              <a href="/modes/community">
                <button id="community" type="button" class="btn btn-default mode-option-btn" style="border-radius: 0px 0px 0px 0px;">Community Game Modes</button>
              </a>
            </div>
            <div class="btn-group" role="group">
              <a href="/modes/user">
                <button id="user" type="button" class="btn btn-default mode-option-btn" style="border-radius: 0px 6px 6px 0px;">User Game Modes</button>
              </a>
            </div>
          </div>
        </div>

        <!-- ~~ MODE SUBTABS ~~ -->

        <% if (tab === "community") { %>
          <div class="row" style="width:60vw; margin: 0 auto;">
            <div class="col-md-12">
              <div class="btn-group btn-group-justified mode-options" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <a href="/modes/community/alltime">
                    <button id="alltime" type="button" class="btn btn-default submode-option-btn" style="border-radius: 6px 0px 0px 6px; width: 100%;">All Time</button>
                  </a>
                </div>
                <div class="btn-group" role="group" style="margin: 0px;">
                  <a href="/modes/community/trending">
                    <button id="trending" type="button" class="btn btn-default submode-option-btn" style="border-radius: 0px 0px 0px 0px; width: 100%;">Trending</button>
                  </a>
                </div>
                <div class="btn-group" role="group" style="margin: 0px;">
                  <a href="/modes/community/newest">
                    <button id="newest" type="button" class="btn btn-default submode-option-btn" style="border-radius: 0px 6px 6px 0px; width: 100%;">Newest</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% } %>


        <% if (tab === "user") { %>
          <div class="row" style="width:60vw; margin: 0 auto;">
            <div class="col-md-12">
              <div class="btn-group btn-group-justified mode-options" role="group" aria-label="...">
                <div class="btn-group" role="group" style="margin: 0px;">
                  <a href="/modes/user/created">
                    <button id="created" type="button" class="btn btn-default submode-option-btn" style="border-radius: 6px 0px 0px 6px; width: 100%;">Created</button>
                  </a>
                </div>
                <div class="btn-group" role="group" style="margin: 0px;">
                  <a href="/modes/user/favorites">
                    <button id="favorites" type="button" class="btn btn-default submode-option-btn" style="border-radius: 0px 6px 6px 0px; width: 100%;">Favorites</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% } %>

      </div>

      <!-- ~~ MODE LIST ~~ -->

      <div class="row mt-40">

        <% modes.forEach(mode => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
          <div class="panel panel-default mode-panel flex-col">
            <div class="panel-heading mode-panel-header">
              <h3 class="panel-title bold"> <%= mode.mode_name %> </h3>
            </div>
            <div class="panel-body panel-body-top">
              <div>
                Hero: <pre><%= mode.heroList %></pre>
              </div>
              <div>
                Set: <%= mode.mode_name %>
              </div>
              <div>
                Cost: <%= mode.mode_name %>
              </div>
              <div>
                Class: <%= mode.mode_name %>
              </div>
              <div>
                Rarity: <%= mode.mode_name %>
              </div>
              <div>
                Type: <%= mode.mode_name %>
              </div>
            </div>
            <div style="margin: 0 auto;">
              <i id="favorite" class="fas fa-star fa-2x grey mr-20"></i>
              <button type="button" class="btn btn-primary panel-modes-btn" style="width: 120px;">Start Draft</button>
              <i id="vote" class="fas fa-thumbs-up fa-2x grey ml-20"></i>
            </div>
          </div>
        </div>
        <% }) %>

      </div>


        </div>
      </div>
    </div>

    <%- include partials/modals.ejs %>

  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
  <script type="text/javascript" src="/js/modes.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
