<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DraftStone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Piedra|Playfair+Display|Poppins|Raleway|Titillium+Web|Trade+Winds" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/spacing.css">
  <style>
      #<%= tab %>, #<%= subtab %> {
         background-color: green;
         color: white;
      }
    </style>
</head>

<body>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<header id="navbar" class="test">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navcontainer">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="draftstone" class="navbar-brand text-uppercase draftstone-text" href="/">Draftstone</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li style="font-size: 16px; color: black; margin-right: 15px; font-family: playfair">
              <% if (username) { %>
                Worthy opponent: <b><%= username %></b>
              <% } %>
            </li>
            <li>
              <button type="button" class="btn btn-success navbar-btn btn-circle modes-btn mr-20" onclick="window.location.href='/setup'"><i class="fas fa-plus" style="margin-right: 4px;"></i>New Mode</button>
            </li>
            <li><button type="button" class="btn btn-success navbar-btn btn-circle instructions-btn mr-20" data-toggle="modal" data-target="#instructionsModal">Instructions</button></li>
            <li>
              <% if (!username) { %>
              <button type="button" class="btn btn-success navbar-btn btn-circle signin-btn mr-10" data-toggle="modal" data-target="#loginModal">LOG IN</button>
              <% } else { %>
              <button type="button" class="btn btn-success navbar-btn btn-circle signin-btn mr-10" onclick="window.location.href='/logout'">LOG OUT</button>
              <% } %>

            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <main id="main" class="flex mode-main mt-50">

    <!-- ~~ CONTAINER ~~ -->

    <div id="modes-container" class="container mode-main flex-col mt-50" style="align-content: center; margin-bottom:40px;">

      <!-- ~~ MODE TABS ~~ -->

      <div class="row">
        <div class="col-md-12">
          <div class="btn-group btn-group-justified mode-options" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <a href="/modes/basic/all">
                <button id="basic" type="button" class="btn btn-default mode-option-btn" style="border-radius: 6px 0px 0px 6px;">Basic Game Modes</button>
              </a>
            </div>
            <div class="btn-group" role="group">
              <a href="/modes/community/trending">
                <button id="community" type="button" class="btn btn-default mode-option-btn" style="border-radius: 0px 0px 0px 0px;">Community Game Modes</button>
              </a>
            </div>
            <div class="btn-group" role="group">
              <a href="/modes/user/created">
                <button id="user" type="button" class="btn btn-default mode-option-btn" style="border-radius: 0px 6px 6px 0px;">User Game Modes</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ~~ MODE SUBTABS ~~ -->

      <% if (tab === "community") { %>
      <div class="row" style="width:60vw; margin: 1px auto 0 auto;">
        <div class="col-md-12">
          <div class="btn-group btn-group-justified mode-options" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <a href="/modes/community/alltime">
                <button id="alltime" type="button" class="btn btn-default submode-option-btn" style="border-radius: 20px 0px 0px 20px; width: 100%;">All Time</button>
              </a>
            </div>
            <div class="btn-group" role="group" style="margin: 0px;">
              <a href="/modes/community/trending">
                <button id="trending" type="button" class="btn btn-default submode-option-btn" style="border-radius: 0px 0px 0px 0px; width: 100%;">Trending</button>
              </a>
            </div>
            <div class="btn-group" role="group" style="margin: 0px;">
              <a href="/modes/community/newest">
                <button id="newest" type="button" class="btn btn-default submode-option-btn" style="border-radius: 0px 20px 20px 0px; width: 100%;">Newest</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <% } %>


      <% if (tab === "user") { %>
      <div class="row" style="width:60vw; margin: 1px auto 0 auto;">
        <div class="col-md-12">
          <div class="btn-group btn-group-justified mode-options" role="group" aria-label="...">
            <div class="btn-group" role="group" style="margin: 0px;">
              <a href="/modes/user/created">
                <button id="created" type="button" class="btn btn-default submode-option-btn" style="border-radius: 20px 0px 0px 20px; width: 100%;">Created</button>
              </a>
            </div>
            <div class="btn-group" role="group" style="margin: 0px;">
              <a href="/modes/user/favorites">
                <button id="favorites" type="button" class="btn btn-default submode-option-btn" style="border-radius: 0px 20px 20px 0px; width: 100%;">Favorites</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <% } %>


      <!-- ~~ MODE LIST ~~ -->

      <div class="row mt-40">
          <% modes.forEach(mode => { %>
          <div class="col-xl-6 col-xs-12 mt-5" style="margin:0px;">
            <div class="panel panel-default mode-panel flex-col" style="overflow:hidden; max-height:300px;">

              <div class="panel-heading mode-panel-header flex flex-between" style="">
                <h3 class="panel-title bold flex-center" style="font-size:1.9rem"> <%= mode.mode_name %></h3>
                <div class="flex flex-center">

                  <% if(tab === 'community') { %>
                  <p class="" style="font-size:1.6rem; font-family:Playfair; font-weight: bold; color: green; margin:8px 5px 0px 0px;"><%= mode.votes %></p>
                  <button type="submit" id="" style="" class="vote fas fa-thumbs-up fa-lg <%= mode.hasVoted ? "green" : "grey" %>"></button>
                  <% } %>


                  <button id="" class="favorite fas fa-star fa-lg <%= mode.hasFavorited ? "green" : "grey" %>"></button>

                  <% if(subtab === 'created') { %>
                  <button type="button" onclick="window.location.href='/modes/delete/<%= mode.id %>'" class="btn btn-primary created-mode-btn" style="width: 120px; margin:0 10px 0 20px; font-family:Playfair; font-size:1.6rem; padding-top:5px; padding-bottom:5px;"><b>Delete</b></button>
                  <button type="button" onclick="window.location.href='/modes/publish/<%= mode.id %>'" class="btn btn-primary created-mode-btn" style="width: 120px; margin:0 10px 0 20px; font-family:Playfair; font-size:1.6rem; padding-top:5px; padding-bottom:5px;"><b>Publish</b></button>
                  <% } %>

                  <button type="button" class="btn btn-primary start-btn" style="width: 120px; margin:0 10px 0 20px; font-family:Playfair; font-size:1.6rem; padding-top:5px; padding-bottom:5px;"><b>Start</b></button>
                </div>
              </div>

              <div class="panel-body panel-body-top text-center flex flex-around" style="overflow:scroll; height:100%; margin: 0px 0px 40px 0px">
                <div class="col-xs-2" style="margin-top:5px;">
                  <br><b style="font-size:1em;">Set</b> <pre style="border: 3px double green; font-family:Playfair; font-size:1em; width:100%; margin:0px auto;"><%= mode.settings.setArray.length === 0 ? "All" : mode.settings.setArray %></pre>
                </div>
                <div class="col-xs-2" style="margin-top:5px;">
                  <br><b style="font-size:1em;">Hero</b>
                  <pre style="border: 3px double green; font-family:Playfair; font-size:1em; width:100%; margin:0 auto;"><%= mode.settings.heroArray.length === 0 ? "All" : mode.settings.heroArray %></pre>
                </div>
                <div class="col-xs-2" style="margin-top:5px;">
                  <br><b style="font-size:1em;">Cost</b>
                  <pre style="border: 3px double green; font-family:Playfair; font-size:1em; width:100%; margin:0 auto;"><%= mode.settings.costArray.length === 0 ? "All" : mode.settings.costArray %></pre>
                </div>

                <div class="col-xs-2" style="margin-top:5px;">
                  <br><b style="font-size:1em;">Class / Neutral</b>
                  <pre style="border: 3px double green; font-family:Playfair; font-size:1em; width:100%; margin:0 auto;"><% if(mode.settings.classSetting === 'custom'){ %><%= mode.settings.classCount || 0 %> / <%= 30 - mode.settings.classCount || 0 %><% } else { %><%= mode.settings.classSetting %><% } %></pre>
                </div>
                <div class="col-xs-2" style="margin-top:5px;">
                  <br><b style="font-size:1em;">Minion / Spell</b>
                  <pre style="border: 3px double green; font-family:Playfair; font-size:1em; width:100%; margin:0 auto;"><% if(mode.settings.raritySetting === 'custom'){ %><%= mode.settings.spellCount || 0 %> / <%= 30 - mode.settings.spellCount || 0 %><% } else { %><%= mode.settings.raritySetting %><% } %></pre>
                </div>
                <div class="col-xs-2" style="margin-top:5px;">
                  <b style="font-size:1em;"> Legend / Epic <br>Rare / Common</b>
                  <pre style="border: 3px double green; font-family:Playfair; font-size:1em; width:100%; margin:0 auto;"><% if(mode.settings.typeSetting === 'custom'){ %><%= mode.settings.legendaryCount || 0 %> / <%= mode.settings.epicCount || 0 %> / <%= mode.settings.rareCount || 0 %> / <%= 30 - mode.settings.legendaryCount - mode.settings.epicCount - mode.settings.rareCount || 0 %><% } else { %><%= mode.settings.typeSetting %><% } %></pre>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
    </div>

    <%- include partials/modals.ejs %>

  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
  <script type="text/javascript" src="/js/modes.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
